<div class="auth-container">
  <div class="h-center text-caption">LOGIN</div>
  <div class="margin-top-1x">
    <div class="text-default">Username:</div>
    {{input class="full-width"
            type="text"
            value=username
            enter=(action "onLoginClickAction")
    }}
  </div>
  <div class="margin-top-1x">
    <div class="text-default">Password:</div>
    {{input class="full-width"
            type="password"
            value=password
            enter=(action "onLoginClickAction")
    }}
  </div>
  {{#if error}}
    <div class="text-center text-dangerous margin-top-1x">
      {{error}}
    </div>
  {{/if}}
  <div class="margin-top-1x grid-fluid">
    <button class="col-5 btn {{if isValid "btn-ok" "btn-disabled"}}"
            onclick={{action "onLoginClickAction"}}>
      Log in
    </button>
    <div class="col-1"></div>
    {{#link-to "auth.log-in" class="col-6 btn btn-ok"}}
      Sign Up
    {{/link-to}}
  </div>
</div>
