<div class="grid-fluid col-center full-height">
  {{core/icon-component name="man" class="col avatar"}}
  <div class="clickable col-full" onClick={{action "onClickAction"}}>
    {{user.fullName}}
  </div>
  {{core/icon-component
    name="down-arrow"
    class="col array clickable"
    onClick=(action "onClickAction")
  }}
</div>
{{#if isDropDownOpened}}
  <div class="menu-container">
    {{#link-to "account.settings" class="menu-item text-default"}}
      Settings
    {{/link-to}}
    {{#link-to "account.finance" class="menu-item text-default"}}
      Finance
    {{/link-to}}
    <div class="menu-item text-dangerous" onclick={{action 'onLogOutClickAction'}}>
      Log Out
    </div>
  </div>
{{/if}}
