<div class="grid-fluid col-center full-height">
  <div class="container clickable col-center grid-fluid full-height"
       role="button"
       onclick={{action "onClickAction"}}>
    {{core/icon-component name="man" class="col avatar"}}
    <div class="margin-left-1x">
      {{user.fullName}}
    </div>
    {{core/icon-component
      name="arrow-down"
      class=(concat
        "arrow margin-left-2x rotate-"
        (if isDropDownOpened "270" "90")
      )
    }}
  </div>
  <span class="container clickable col-center grid-fluid full-height">
    {{core/icon-component
      name="bell"
      class="bell"
    }}
  </span>
</div>
{{#if isDropDownOpened}}
  <div class="menu-container">
    {{#link-to "account.settings" class="menu-item text-default"}}
      Settings
    {{/link-to}}
    {{#link-to "account.finance" class="menu-item text-default"}}
      Finance
    {{/link-to}}
    <div class="menu-item text-dangerous" role="button" onclick={{action "onLogOutClickAction"}}>
      Log Out
    </div>
  </div>
{{/if}}
