{{#link-to "account.subject" object.id class="object" tagName="div"}}
  <div class="header-wrapper">
    <div class="header grid-fluid">
      <div class="col-7">
        <div class="header__title text-caption layout v-center">
          {{object.name}}
        </div>
        <div class="header__description">
          <span class="text-bubble">
            {{#if (is-pending object.sensors)}}
              -
            {{else}}
              {{get (await object.sensors) "length"}}
            {{/if}}
          </span>
          active sensors
        </div>
      </div>
      <div class="col-5 col-center">
        <div class="pull-right">
          {{#link-to "account.subject" object.id class="btn btn-ok"}}
            More
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
  <div class="object__body">
    {{#if (is-pending object.sensors)}}
      <div class="layout v-center h-center full-height">
        {{core/loader-component}}
      </div>
    {{else}}
      <div class="grid-fluid full-height items-center">
        {{#each (await object.sensors) as |sensor|}}
          <div class="col col-min-6 object__amount margin-top-1x">
            <span class="text-default pull-left">
              {{sensor.name}}
            </span>
            <span class="text-bubble pull-right">
              {{sensor.value}}
            </span>
          </div>
        {{else}}
          <div class="text-muted text-center col-12 margin-top-1x">
            No sensors
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="object__footer grid-fluid padding-top-1x">
    <div class="col-6 full-height padding-right-2x">
      <div class="object__amount">
        <span class="text-default pull-left">
          Current month
        </span>
        <span class="pull-right">
          {{object.curMonthAmount}}
        </span>
      </div>
      <div class="object__amount">
        <span class="text-default pull-left">
          Last month
        </span>
        <span class="pull-right">
          {{object.lastMonthAmount}}
        </span>
      </div>
      <div class="object__amount ">
        <span class="text-default pull-left">
          Last year average
        </span>
        <span class="pull-right">
          {{object.yearAverageAmount}}
        </span>
      </div>
    </div>
    <div class="col-6 col-center">
      {{#link-to "account.index" class="btn btn-ok pull-right"}}
        Pay
      {{/link-to}}
    </div>
  </div>
{{/link-to}}