<div class="cardStyle objectWrap">
  <div class="objectWrap__title">
    <span class="objectWrap__name">
      <strong class="text-caption text-bold text-black">{{object.name}}</strong>
      <span class="objectIndicator"></span>
    </span>
    <small class="objectTitle">{{object.address}}</small>
  </div>
  <div class="row objectServices">
    {{#each object.controllers as |controller|}}
      {{#each controller.sensors as |sensor|}}
        <div class="col-md-6 col-sm-6 col-xs-6 objectServicesWrap">
          <div class="objectService">
            {{core/icon-component name=(sensor-icon-name sensor) class="sensor-icon"}}
            <div class="objectService__info">
              <small>{{sensor.name}}</small>
              <br/>
              <span class="text-black">{{measurement sensor.valueMonth sensor.unitName}}</span>
            </div>
          </div>
        </div>
      {{/each}}
    {{/each}}
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="stakedBarChartWrap">
        <div class="cardRow">
          <span class="cardRow__item">{{month}} {{year}}:</span>
          <span class="cardRow__item text-right"><span class="text-black">{{currency object.totalMonth}}</span> <small>(прогноз {{currency object.totalForecast}})</small></span>
        </div>
        {{core/progress-bar class="stakedBarChart" value=object.totalMonth max=object.totalForecast background='#ffcc00'}}
        <!-- <StakedBarChart current_indicators={300} compared={400} special_color={true} /> -->
      </div>

      <div class="stakedBarChartWrap">
        <div class="cardRow">
          <span class="cardRow__item">{{month}} {{year -1}}:</span>
          <span class="cardRow__item text-right text-black">{{currency object.totalPrevMonth}}</span>
        </div>
        {{core/progress-bar class="stakedBarChart" value=object.totalMonth max=object.totalPrevMonth}}
        <!-- <StakedBarChart current_indicators={200} compared={400} /> -->
      </div>

      <div class="stakedBarChartWrap">
        <div class="cardRow">
          <span class="cardRow__item">Среднее {{year -1}}:</span>
          <span class="cardRow__item text-right text-black">{{currency object.totalYearAverage}}</span>
        </div>
        {{core/progress-bar class="stakedBarChart" value=object.totalMonth max=object.totalYearAverage}}
        <!-- <StakedBarChart current_indicators={250} compared={400} /> -->
      </div>
    </div>
  </div>
  <div class="row cardBtnsWrap">
    <div class="col-md-6 col-sm-6 col-xs-6">
      {{#link-to 'account.subject' object.id}}
        <button class="btn btnStyle btnStyle_сolorless">Подробнее</button>
      {{/link-to}}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      {{#link-to 'account.finance.subject' object.id}}
        <button class="btn btnStyle btnStyle_сolor">Оплатить</button>
      {{/link-to}}
    </div>
  </div>
</div>
