<div class="cardStyle">
  <div>
    <div class="title-caption">
      <span class="text-caption text-bold text-black">{{object.name}}</span>
      {{core/status-indicator class="pull-right" status=status}}
    </div>
    <div class="title-company text-small">{{object.address}}</div>
  </div>
  <div class="row no-margin margin-top-1x">
    {{#each sensors as |sensor|}}
      <div class="col-md-6 col-sm-6 col-xs-6 objectServicesWrap">
        <div class="objectService">
          {{core/icon-component name=(sensor-icon-name sensor) class="sensor-icon"}}
          <div class="objectService__info">
            <small>{{sensor.name}}</small>
            <div class="text-black">{{measurement sensor.valueMonth sensor.unitName}}</div>
            <div class="text-muted">{{currency sensor.totalMonth}}</div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="stakedBarChartWrap">
        <div class="cardRow">
          <span class="cardRow__item">{{month}} {{year}}:</span>
          <span class="cardRow__item text-right">
            <span class="text-black" title="Текущая сумма за {{month}}">
              {{currency object.totalMonth}}
            </span>
            <span class="text-muted text-small" title="Прогнозируемая сумма расходов на конец месяца">
              {{currency object.totalForecast}}
            </span>
          </span>
        </div>
        {{core/progress-bar class="stakedBarChart" value=object.totalMonth max=object.totalForecast
                            background='#ffcc00'}}
        <!-- <StakedBarChart current_indicators={300} compared={400} special_color={true} /> -->
      </div>

      <div class="stakedBarChartWrap">
        <div class="cardRow">
          <span class="cardRow__item">{{month}} {{year -1}}:</span>
          <span class="cardRow__item text-right text-black">{{currency object.totalPrevMonth}}</span>
        </div>
        {{core/progress-bar class="stakedBarChart" value=object.totalMonth max=object.totalPrevMonth}}
        <!-- <StakedBarChart current_indicators={200} compared={400} /> -->
      </div>

      <div class="stakedBarChartWrap">
        <div class="cardRow">
          <span class="cardRow__item">Среднее {{year -1}}:</span>
          <span class="cardRow__item text-right text-black">{{currency object.totalYearAverage}}</span>
        </div>
        {{core/progress-bar class="stakedBarChart" value=object.totalMonth max=object.totalYearAverage}}
        <!-- <StakedBarChart current_indicators={250} compared={400} /> -->
      </div>
    </div>
  </div>
  <div class="row cardBtnsWrap">
    <div class="col-md-6 col-sm-6 col-xs-6">
      {{#link-to 'account.subject' object.id}}
        <button class="btn btnStyle btnStyle_сolorless">Подробнее</button>
      {{/link-to}}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      {{#link-to 'account.finance.subject' object.id}}
        <button class="btn btnStyle btnStyle_сolor">Оплатить</button>
      {{/link-to}}
    </div>
  </div>
</div>
