<div class="cardStyle">
  <div class="service">
    <div class="service__title">
      <span class="counterIcon icon-high-voltage"></span>
      <div class="service__item">
        <h5 class="service__name text-black">{{sensor.name}}<span class="objectIndicator"></span></h5>
        <small class="service__company">{{sensor.company}}</small>
      </div>
    </div>

    <div class="payableBlock">
      <div class="service__accrual cardRow">
        <span class="cardRow__item">Начисление:</span>
        <span class="cardRow__item text-right text-black">100 ₽</span>
      </div>

      <div class="service__overpayment cardRow">
        <span class="cardRow__item">Переплата:</span>
        <span class="cardRow__item text-right text-black">70 ₽</span>
      </div>

      <div class="service__total cardRow">
        <span class="cardRow__item">И того к оплате:</span>
        <span class="cardRow__item text-right text-black">30 ₽</span>
      </div>
    </div>

    <div class="stakedBarChartWrap">
      <div class="cardRow">
        <span class="cardRow__item">За месяц:</span>
        <span class="cardRow__item text-right"><span class="text-black">{{sensor.value}} кВт</span> <small>(450 прогноз)</small></span>
      </div>
      {{core/progress-bar class="stakedBarChart" value=70 background='#ffcc00'}}
      <!--<div class="stakedBarChart stakedBarChart_month"></div>-->
      <!-- <StakedBarChart current_indicators={current_indicators} compared={prediction} special_color={true} /> -->
    </div>

    <div class="stakedBarChartWrap">
      <div class="cardRow">
        <span class="cardRow__item">За прошлый месяц:</span>
        <span class="cardRow__item text-right"><span class="text-black">150 кВт</span></span>
      </div>
      {{core/progress-bar class="stakedBarChart" value=50}}
      <!--<div class="stakedBarChart stakedBarChart_lastMonth"></div>-->
      <!-- <StakedBarChart current_indicators={current_indicators} compared={prediction} /> -->
    </div>

    <div class="stakedBarChartWrap">
      <div class="cardRow">
        <span class="cardRow__item">Среднее за год:</span>
        <span class="cardRow__item text-right"><span class="text-black">300 кВт</span></span>
      </div>
      {{core/progress-bar class="stakedBarChart" value=70 background='#ffcc00'}}
      <!--<div class="stakedBarChart stakedBarChart_avgYear"></div>-->
      <!-- <StakedBarChart current_indicators={current_indicators} compared={prediction} /> -->
    </div>

    <div class="row cardBtnsWrap">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="openPopup_js btn btnStyle btnStyle_сolorless">Подробнее</button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <button href="payment.html" class="btn btnStyle btnStyle_сolor">Оплатить</button>
      </div>
    </div>
  </div>
</div>
