<div class="cardStyle">
  <div class="service">
    <div class="service__title">
      {{sensor-icon sensor=sensor class="sensor-icon"}}
      <div class="service__item">
        <div class="service__name text-caption text-bold text-black">{{sensor.name}}<span class="objectIndicator"></span></div>
        <small class="service__company">{{sensor.company}}</small>
      </div>
    </div>

    <div class="payableBlock">
      <div class="service__accrual cardRow">
        <span class="cardRow__item">Начисление:</span>
        <span class="cardRow__item text-right text-black">{{currency sensor.charge}}</span>
      </div>

      <div class="service__overpayment cardRow">
        <span class="cardRow__item">Переплата:</span>
        <span class="cardRow__item text-right text-black">{{currency sensor.overpayment}}</span>
      </div>

      <div class="service__total cardRow">
        <span class="cardRow__item">И того к оплате:</span>
        <span class="cardRow__item text-right text-black">{{currency sensor.forPayment}}</span>
      </div>
    </div>

    <div class="stakedBarChartWrap">
      <div class="cardRow">
        <span class="cardRow__item">{{month}} {{year}}:</span>
        <span class="cardRow__item text-right">
          <span class="text-black">{{measurement sensor.valueMonth sensor.unitName}}</span>
          <small>{{measurement sensor.valueForecast sensor.unitName}}</small>
        </span>
      </div>
      {{core/progress-bar class="stakedBarChart" value=sensor.valueMonth max=sensor.valueForecast background='#ffcc00'}}
      <!--<div class="stakedBarChart stakedBarChart_month"></div>-->
      <!-- <StakedBarChart current_indicators={current_indicators} compared={prediction} special_color={true} /> -->
    </div>

    <div class="stakedBarChartWrap">
      <div class="cardRow">
        <span class="cardRow__item">{{month}} {{year -1}}</span>
        <span class="cardRow__item text-right"><span class="text-black">{{measurement sensor.valuePrevYear sensor.unitName}}</span></span>
      </div>
      {{core/progress-bar class="stakedBarChart" value=sensor.valueMonth max=sensor.valuePrevYear}}
      <!--<div class="stakedBarChart stakedBarChart_lastMonth"></div>-->
      <!-- <StakedBarChart current_indicators={current_indicators} compared={prediction} /> -->
    </div>

    <div class="stakedBarChartWrap">
      <div class="cardRow">
        <span class="cardRow__item">Среднее {{year -1}}:</span>
        <span class="cardRow__item text-right">
          <span class="text-black">{{measurement sensor.valuePrevYearAverage sensor.unitName}}</span>
        </span>
      </div>
      {{core/progress-bar class="stakedBarChart" value=sensor.valueMonth max=sensor.valuePrevYearAverage}}
      <!--<div class="stakedBarChart stakedBarChart_avgYear"></div>-->
      <!-- <StakedBarChart current_indicators={current_indicators} compared={prediction} /> -->
    </div>

    <div class="row cardBtnsWrap">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="openPopup_js btn btnStyle btnStyle_сolorless">Подробнее</button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <button href="payment.html" class="btn btnStyle btnStyle_сolor">Оплатить</button>
      </div>
    </div>
  </div>
</div>
