<header>
  <div class="container">
    <div class="headerPanel">
      <div class="logoWrap">
        {{#link-to 'account.index' class="logo"}}
          <img src="/images/logo.svg" alt="">
        {{/link-to}}
      </div>
      <div class="headerMenu headerMenu_js{{if bShowSideMenu " mobile_active"}}">
        <div class="mobileMenuBtn mobileMenuBtn_js" onclick={{action "showSideMenu"}}><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div class="menuPanel menuPanel_js"></div>
        <nav class="nav headerNav headerMenu__nav">
          <span class="closeMenu" onclick={{action "hideSideMenu"}}><span class="icon-cross closeMenu__btn closeMenu__btn_js"></span></span>
          <span class="menuItem">
            {{#link-to "account.index"}}Объекты{{/link-to}}
            <ul class="headerSubMenu">
              {{#each objects as |object|}}
                <li>{{#link-to 'account.subject' object.id}}
                  {{object.name}}
                {{/link-to}}</li>
              {{/each}}
            </ul>
          </span>
          {{#link-to 'account.finance.subject' objects.firstObject class="nav-link menuItem"}}
            Финансы
          {{/link-to}}
          <a class="nav-link menuItem" href="https://m4mcontroller.github.io/m4m-web-prototype/settings.html">
            Настройки
          </a>
          <nav class="nav footerNav footerMenu footerMenuInHeader">
            <a href="/" class="nav-link footerMenuItem">О компании</a>
            <a href="/" class="nav-link footerMenuItem">Контакты</a>
            <a href="/" class="nav-link footerMenuItem">Новости</a>
            <a href="/" class="nav-link footerMenuItem">Инвесторам</a>
            <a href="/" class="nav-link footerMenuItem">Партнерам</a>
            <a href="/" class="nav-link footerMenuItem">Юридическая информация</a>
          </nav>
        </nav>
      </div>
      <div class="userInfo">
        {{#link-to 'account.index'}}
          <span class="userInfo__name">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            {{user.fullName}}
          </span>
        {{/link-to}}
        {{core/icon-component name="sign-out" class="sign-out-icon clickable"
                              click=(action "onLogOutAction")
        }}
      </div>
      <div class="col-md-4 sign-out-mobile" style="order: 2;">
        {{core/icon-component name="sign-out" class="sign-out-icon clickable pull-right"
                              click=(action "onLogOutAction")
        }}
      </div>
    </div>
  </div>
</header>
