{{#if isLoading}}
  {{core/loader-component class="vp-height vp-width h-center v-center"}}
{{else}}
  <div class="vp-height v-center h-center">
    <div class="h-center">
      <div class="h-center">
        {{core/image-component name="logo-black" class="logo-setup margin-bottom-2x"}}
      </div>
      <h1 class="text-center margin-bottom-2x">
        {{#if isLiteMode}}
          Добро пожаловать в систему!
        {{else}}
          Регистрация
        {{/if}}
      </h1>
      <p class="text-center">
        {{#if isLiteMode}}
          Чтобы начать использовать контроллер, пожалуйста, придумайте пароль.
          <br>
          Это необходимо, чтобы защитить Ваши данные от посторонних лиц.
        {{/if}}
      </p>
      {{forms/sign-up class="vp-width h-center"
                      error=sugnUpError
                      onSignUp=(action "onSignUpAction")
      }}
    </div>
  </div>
{{/if}}
