<div class="container">
  <div class="row">
    {{page-caption text=model.name icon=(sensor-icon-name model) class="col-12"}}
  </div>
  <div class="row cardStyle block">
    <!--<h2 class="text-caption text-center">График потребления</h2>-->
    <div class="margin-bottom-2x" align="middle">
      {{#core/loader-component loading=(not model.values)}}
        {{3rd/dynamic-high-charts mode="StockChart" content=content chartOptions=chartOptions settings=settings}}
      {{/core/loader-component}}
    </div>

    <div class="v-center">
      <div>
        <span class="text-caption text-black">Правила</span>
        <span class="btn btnStyle btnStyle_сolor pull-right margin-bottom-1x">Добавить</span>
      </div>
    </div>
    <table class="table text-default">
      <thead>
      <tr>
        <th>Что</th>
        <th>Куда</th>
        <th>Когда</th>
        <th class="width-9x"><span class="pull-right">Управление</span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Текущее значение, {{model.unitName}}</td>
        <td>{{model.serviceCompany.name}}</td>
        <td>раз в неделю</td>
        <td align="right">
          {{core/icon-component name="pen" class="height-2x padding-right-2x clickable" text="Изменить"}}
          {{core/icon-component name=(if is1RuleActive "switch-off" "switch-on") class="height-2x clickable"
                                text="Статус: правило действует"
                                click=(action "toggle" "is1RuleActive")
          }}
        </td>
      </tr>
      <tr>
        <td>Напряжение, V</td>
        <td>МОЭК</td>
        <td>раз в день</td>
        <td align="right">
          {{core/icon-component name="pen" class="height-2x padding-right-2x clickable" text="Изменить"}}
          {{core/icon-component name=(if is2RuleActive "switch-off" "switch-on") class="height-2x clickable"
                                text="Статус: правило действует"
                                click=(action "toggle" "is2RuleActive")
          }}
        </td>
      </tr>
      <tr>
        <td>Ток, A</td>
        <td>МОЭК</td>
        <td>раз в день</td>
        <td align="right">
          {{core/icon-component name="pen" class="height-2x padding-right-2x clickable" text="Изменить"}}
          {{core/icon-component name=(if is3RuleActive "switch-off" "switch-on") class="height-2x clickable"
                                text="Статус: правило действует"
                                click=(action "toggle" "is3RuleActive")
          }}
        </td>
      </tr>
      <tr>
        <td>Uptime</td>
        <td>МОЭК</td>
        <td>раз в день</td>
        <td align="right">
          {{core/icon-component name="pen" class="height-2x padding-right-2x clickable" text="Изменить"}}
          {{core/icon-component name=(if is4RuleActive "switch-on" "switch-off") class="height-2x clickable"
                                text="Статус: правило не активно"
                                click=(action "toggle" "is4RuleActive")
          }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
