<div class="row">
  {{page-caption class="col-12"
                 text=(if field (t (concat "obd." field) model.sensor) model.senor.name)
                 icon=(sensor-icon-name model.sensor)
  }}
</div>

<div class="row cardStyle block">
  {{#if isGraphVisible}}
    <div class="margin-bottom-2x" align="middle">
      {{#core/loader-component loading=(not model.sensor.values)}}
        {{3rd/dynamic-high-charts mode="StockChart" content=content chartOptions=chartOptions settings=settings}}
      {{/core/loader-component}}
    </div>
  {{/if}}

  {{#unless isLiteMode}}
    <div class="v-center">
      <div>
        <span class="text-caption text-black">Правила</span>
        <!--        <span class="btn btnStyle btnStyle_сolor pull-right margin-bottom-1x">Добавить</span>-->
      </div>
    </div>
    <table class="table text-default">
      <thead>
      <tr>
        <th>Компания</th>
        <th>Частота</th>
        <th>Начиная с даты</th>
        <th class="width-9x"><span class="pull-right">Управление</span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <select class="form-control full-width" onchange={{action "onChangeCompany"}}>
            <option selected="{{if (eq model.sensor.company null) "selected"}}">Не выбрано</option>
            {{#each model.companies as |company|}}
              <option value="{{company.id}}" selected="{{if (eq model.sensor.company.id company.id) "selected"}}">
                {{company.name}}
              </option>
            {{/each}}
          </select>
        </td>
        <td>
          {{#if model.sensor.company}}
            <select class="form-control full-width">
              <option>Раз в день</option>
              <option>Раз в неделю</option>
              <option>Раз в месяц</option>
            </select>
          {{/if}}
        </td>
        <td>
          {{#if model.sensor.company}}
            <input value="15.05.2020"/>
          {{/if}}
        </td>
        <td align="right">
          {{#if model.sensor.company}}
            {{core/icon-component name=(if is1RuleActive "switch-off" "switch-on") class="height-2x clickable"
                                  text="Статус: правило действует"
                                  click=(action "toggle" "is1RuleActive")
            }}
          {{/if}}
        </td>
      </tr>
      </tbody>
    </table>
  {{/unless}}
</div>
