<div class="row align-items-center">
  {{#page-caption text=model.name icon="home" class="col-12"}}
    <div class="pull-right">
      {{#unless model.sensors.length}}
        <button class="btn btnStyle btnStyle_сolorgray margin-right-1x"
                onclick={{action "onDeleteObjectAction" model}}>
          <span class="icon-cross"></span> Удалить
        </button>
      {{/unless}}
      <button class="btn btnStyle btnStyle_сolor"
              onclick={{open-modal "controller-add" object=model onSuccess=(action "afterControllerAdded")}}
      >
        Добавить контроллер
      </button>
    </div>
  {{/page-caption}}
</div>

{{#if isLiteMode}}
  <div class="row havings">
    {{#each (sort-by "typeName" (filter-by 'typeName' model.sensors)) as |sensor|}}
      {{sensor-card sensor=sensor}}
    {{/each}}
  </div>
{{else}}
  <div class="cards-wrapper">
    {{#each (sort-by "typeName" (filter-by 'typeName' model.sensors)) as |sensor|}}
      <div class="card-wrapper">
        {{#link-to "account.sensor" sensor.id tagName="div" class="clickable"}}
          <div class="cardStyle">
            <div class="cardStyle-title">
              {{sensor.name}}
            </div>
            <div class="cardStyle-description">
              Перейти к настройке
            </div>
          </div>
        {{/link-to}}
      </div>
    {{/each}}
  </div>
{{/if}}
