{{#if isLoading}}
  <div class="layout v-center h-center vp-height">
    {{core/loader-component}}
  </div>
{{else}}
  <div class="vp-height v-center h-center">
    <div class="popupForm">
      <h1 class="text-center margin-bottom-2x">
        Привяжите облачное хранилище
      </h1>
      <p class="text-center">
        {{#if isLiteMode}}
          ...чтобы сохранить данные в случае потери контроллера
          <br>
          а так же получить возможность интеграции со сторонними сервисами.
        {{else}}
          ...чтобы получить возможность интеграции Ваших контроллеров со сторонними сервисами.
        {{/if}}
      </p>

      {{core/yandex-disk redirect="https://meter4.me/account/set-up/social-binding" class="margin-bottom-4x"}}
      <p>
        Вы можете пропустить этот шаг и настроить привязку позже в настройках.
      </p>

      <div class="text-center">
        <button class="btn btnStyle btnStyle_сolor" onClick={{action "onSocialBind" undefined}}>
          Пропустить
        </button>
      </div>
    </div>
  </div>
{{/if}}