<div class="form-group">
  <label>{{name}}:</label>
  {{input class=(concat "form-control form-field " (if wasFocused (if isValid "is-valid" "is-invalid")))
          type=type
          value=value
          placeholder=placeholder
          enter=(action "onEnterAction")
          focus-out=(action "focusOutAction")
  }}

  {{#if showErrorMessage}}
    <small class="invalid-feedback clickable" onclick={{action "setProp" "wasFocused" false}}>{{error}}</small>
  {{else}}
    <small class="form-text text-muted">{{description}}</small>
  {{/if}}
</div>