<div class="modal ">
  <div class="container">
    <div class="row">
      {{#if cover}}
        <div class="cover {{className}}">
          {{#if (or title onClose)}}
            <div class="margin-bottom-2x">
              {{#if title}}
                <span class="text-bold">{{title}}</span>
              {{/if}}
              {{#unless (or (eq modalId undefined) loading)}} {{! if (modalId !== undefined && !loading) }}
                <span class="pull-right text-bold clickable text-small"
                      role="button"
                      onclick={{close-modal modalId}}>
              X
            </span>
              {{/unless}}
            </div>
          {{/if}}
          {{#if loading}}
            {{core/loader-component class="full-width h-center"}}
          {{else}}
            {{yield}}
          {{/if}}
        </div>
      {{else}}
        <div class="{{className}}">
          {{yield}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
