<div class="personalData">
  <div class="personalData__block">
    <div class="box__title align-items-center">
      <h5 class="box__name h5">Личные данные</h5>
      {{#if personalDataOK}}
        <span>
          <span class="icon-check-symbol"></span>
          Изменения успешно сохранены
        </span>
      {{/if}}
      <button class="btn btnStyle btnStyle_сolor" onclick={{action 'savePersonalData'}}>Сохранить настройки</button>
    </div>
    <div class="row inputsSet">
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.middleName name="Фамилия"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.firstName name="Имя"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.lastName name="Отчество"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.birthday name="Дата рождения"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.registrationAddress name="Город проживания"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Пол</label>
          <div>
            <label for="sex-male-input">
              Мужской
              <input type="radio" name="sex" id="sex-male-input" checked={{user.sex}}>
            </label>

            <label for="sex-female-input">
              Женский
              <input type="radio" name="sex" id="sex-female-input" checked={{if user.sex false true}}>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="personalData__block">
    <div class="box__title align-items-center">
      <h5 class="box__name h5">Контакты</h5>
      {{#if contactDataOK}}
        <span>
          <span class="icon-check-symbol"></span>
          Изменения успешно сохранены
        </span>
      {{/if}}
      <button class="btn btnStyle btnStyle_сolor" onclick={{action 'saveContactData'}}>Сохранить настройки</button>
    </div>
    <div class="row inputsSet">
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.homePhone name="Домашний телефон"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.mobilePhone name="Мобильный телефон"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.mailingAddress name="Почтовый адрес"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{core/form-input value=user.email name="Email"}}
        </div>
      </div>
    </div>
  </div>

  <div class="personalData__block">
    <div class="box__title align-items-center">
      <h5 class="box__name h5">Изменить пароль</h5>
      {{#if passwordChangeOK}}
        <span>
          <span class="icon-check-symbol"></span>
          Изменения успешно сохранены
        </span>
      {{/if}}
      <button class="btn btnStyle btnStyle_сolor" onclick={{action 'changePassword'}}>Сохранить настройки</button>
    </div>
    <div class="row inputsSet">
      <div class="col-md-4">
        <div class="form-group">
          <label for="old-password-input">Пароль</label>
          <input type="password" class="form-control form-field" id="old-password-input">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="new-password-input">Новый пароль</label>
          <input type="password" class="form-control form-field" id="new-password-input">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="repeat-password-input">Повторите пароль</label>
          <input type="password" class="form-control form-field" id="repeat-password-input">
        </div>
      </div>
    </div>
  </div>

  <div class="personalData__block">
    <div class="box__title align-items-center">
      <h5 class="box__name h5">Шифрование</h5>
      {{#if changeEncryptionOK}}
        <span>
          <span class="icon-check-symbol"></span>
          Изменения успешно сохранены
        </span>
      {{/if}}
      <button class="btn btnStyle btnStyle_сolor" onclick={{action 'changeEncryption'}}>Сохранить настройки</button>
    </div>
    <div class="row inputsSet">
      <div class="col-md-12">
        <div class="form-group">
          {{core/form-input value=user.encryptionKey name="Ключ"}}
        </div>
      </div>
    </div>
  </div>

  <div class="personalData__block">
    <div class="box__title align-items-center">
      <h5 class="box__name h5">Интеграции</h5>
      {{#if integrationsChangeOK}}
        <span>
          <span class="icon-check-symbol"></span>
          Изменения успешно сохранены
        </span>
      {{/if}}
    </div>
    <div class="row inputsSet">
      <div class="col-md-12">
        <div class="form-group">
          {{#if socialTokens.yandexDisk}}
            <button class="btn btnStyle btnStyle_сolor" onclick={{action 'unbindYandex'}}>
              Отвязать Яндекс.Диск
            </button>
          {{else}}
            <div class="text-muted text-small">Нажмите на кнопку ниже чтобы привязать облачное хранилище.</div>
            {{core/yandex-disk redirect="https://meter4.me/account/settings/account"}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
