<div class="grid-static vp-height vp-width">
  <div class="menu left full-height col-3 no-margin no-padding">
    {{#link-to "account.index" class="layout h-center v-center full-width menu-header-height menu"}}
      {{core/image-component name="logo" class="menu__logo"}}
    {{/link-to}}
    <div class="full-width">
      {{#menu-option
        caption="Objects"
        icon="home"
        linkTo="account.index"
      }}
        {{#each model.objects as |object|}}
          {{#menu-option
            caption=object.name
            linkTo="account.subject"
            linkParam=object.id
          }}{{/menu-option}}
        {{/each}}
      {{/menu-option}}

      {{menu-option
        caption="Finance"
        icon="credit-card"
        linkTo="account.finance"
      }}

      {{menu-option
        caption="Settings"
        icon="settings"
        linkTo="account.settings"
      }}
    </div>
  </div>

  <div class="full-height no-margin no-padding col-full">
    <div class="menu menu__head menu__header menu-header-height">
      {{menu-user user=model.user
                  class="full-height pull-right margin-right-2x"
                  onLogOut=(action "onLogOutAction")
      }}
    </div>

    <div class="menu menu__content">
      {{outlet}}
    </div>
  </div>
</div>
